.main-chat
  .ChatInfo
    .ChatInfo__about
      test
      .ChatInfo__about--menber
        menber:
    .ChatInfo__edit
      = link_to '#' do
        Edit

  .messages
    .message
      name 
      .message__date
        2020/4/27(mon) 20:00:00
    .message__text
      おはよう！

    .message
      name 
      .message__date
        2020/4/27(mon) 20:00:00
    .message__text
      おはよう！

  .sending
    .sending__input
      .sending__input--text
        type a message
      %label{class: "sending__input--image"}
        = icon('fas', 'image')
        %input{type: "file"}
    .sending__submit
      Send
