.side_bar
  .SideHeader
    .user
      .user__name
        = current_user.name
      .user__icon
        = link_to new_group_path, class: "user__icon--create" do
          <i class="fa fa-edit"></i>
        = link_to edit_user_path(current_user), class: "user__icon--edit" do
          <i class="fa fa-cog"></i>

  .groups
    .group
      .group__name
        group1
      .group__message
        まだメッセージが有りません
    .group
      .group__name
        group1
      .group__message
        まだメッセージが有りません
